/* ---GLOBAL--- */
* {
  font-family: 'Roboto', arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}


/* ---DARK MODE--- */
body {
  color: #222;
  background: #fff;
}

body.dark-theme {
  color: #fff;
  background: #121212;
}

body.dark-theme a {
  color: #809fff;
}

/* ---APP SETUP--- */

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temp strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

/* --- UNITS--- */
.weather-temp .active {
  color: #878787;
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
